# Google Pay Credentials (stag test account)
GPAY_EMAIL=your_gpay_email_here
GPAY_PASSWORD=your_gpay_password_here

# Default Staging Credit Card Details
STAG_CARD_NUMBER=4111111111111111
STAG_CARD_EXPIRY=03/30
STAG_CARD_CVV=737
STAG_CARD_HOLDER=Test User

# Default New User Passwords
NEW_USER_PASSWORD=Test1!
